Report/build/

Report/sections/build/

*.exe

*.cbp

*.cscope_file_list

*.depend

*.depend

*.o

*.bak

*.log

~\$epper Motor_v2\.docx

*.cdl

*.layout

*.pdn

Report/master-blx\.bib

Report/master\.aux

Report/master\.bbl

Report/master\.blg

Report/master\.toc

Report/master\.tdo

Report/master\.synctex\.gz

Report/master\.run\.xml

Report/master\.pdf

Report/master\.out
